* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Encode Sans, roboto; }

.contenedor {
  display: grid;
  height: 98vh;
  grid-template-areas: "header header" "main  main" "section section " "footer  footer";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px; }

.header {
  grid-area: header; }

.siderbar {
  grid-area: siderbar; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 768px) and (max-width: 1024px) {
  img {
    width: 600px;
    height: 60%;
    padding-top: 10px;
    padding-bottom: 10px; }
  h2 {
    font-size: 6vh; }
  h3 {
    font-size: 4vh; }
  p {
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 1.5vw;
    margin: 5px  20px 30px  20px; } }

@media screen and (max-width: 768px) {
  img {
    width: 570px;
    height: 370px;
    padding-top: 9px;
    padding-bottom: 10px; }
  p {
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; } }

@media screen and (max-width: 480px) {
  img {
    width: 570px;
    height: 370px;
    padding-top: 10px;
    padding-bottom: 10px; }
  h2 {
    font-size: 6vh; }
  h3 {
    font-size: 7vh; }
  p {
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 6vw;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; } }

header {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0; }

main {
  margin-top: 80px;
  background-color: #fff; }
  main #titulo h2 {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    flex-wrap: none; }
  main p {
    display: flex;
    flex-direction: none;
    justify-content: justify;
    align-items: none;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; }
  main h1 {
    margin-bottom: 1.5rem;
    text-align: center; }
  main img {
    width: 60%;
    height: 60%;
    padding-top: 10px;
    padding-bottom: 10px; }
  main .lista {
    font-size: 5vh;
    padding-left: 10px; }
  main .desc {
    padding: 15px;
    text-align: center; }
  main .cards {
    display: inline-flex;
    margin-left: 20px; }
  main .tarj-1 {
    margin: 25px; }
  main .tarj-2 {
    margin: 25px; }
    main .tarj-2 .img-card {
      height: 264px;
      padding-top: 0; }

section {
  padding-left: 10px; }
  section iframe {
    transform: translatex(45%); }
  section .recordatorio1 p, section .recordatorio2 p {
    font-size: 15px;
    margin: 20px; }

input[type=text] {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px; }

#reset {
  background-color: #a0a5a0;
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px; }

#send {
  background-color: #5571f1;
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px; }

#pie {
  background-color: #f2f2f26e;
  font-size: 15px;
  margin-top: 5px;
  padding: 5px; }
