*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Encode Sans, roboto;
}
.contenedor{
    display: grid;
    height: 98vh;
    grid-template-areas: "header header"
                         "main  main"
                         "section section "
                         "footer  footer";
    grid-template-rows:  1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.header{
  grid-area: header;
}

.siderbar{
  grid-area: siderbar;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
}
main{
        margin-top: 80px;
        background-color: #fff;
        #titulo{
            display: flex;
            justify-content: center;
        }
        p{
            display: flex;
            text-align: justify;
            flex-wrap: wrap;
            margin-top: 5px;
            margin-bottom: 30px;
            margin-left: 20px;
            margin-right: 20px;
        }
        h1{
            padding-left: 10px;
        }
        a{
            color: #ffff;
            text-decoration: none;
            font-size: 15px;
         }
        img{
            width: 60%;
            height: 60%;
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover{
                background-color: green;
                margin: 15px;
            }
        }
            h2{
                margin-bottom: 1.5rem;
                text-align: center;
        }
        h3{
            font-size: 5vh;
            padding-left: 10px;
        }
    }
section{
        padding: 20px;
    }
#pie{
    background-color: #f2f2f26e;
    font-size: 15px;
    margin-top: 50px;
    padding: 5px;
    }