$map1:(
    color: #f2f2f26e, font: 15px, top: 5px, pad: 5px);
@import "./vars/mixins";
header{
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
}
main {
    margin-top: 80px;
    background-color: #fff;

    #titulo h2 {
        @include flex(none, center, center,none);
    }

    p {
        @include flex(none,justify,none, wrap);
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    img {
        width: 60%;
        height: 60%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .lista {
        font-size: 5vh;
        padding-left: 10px;
    }
    .desc {
        padding: 15px;
        text-align: center;
      }
    .cards{
        display: inline-flex;
        margin-left: 20px;}
    
    .tarj-1{
        margin: 25px;
    }
    .tarj-2{
        margin: 25px;
        .img-card{
            height: 264px;
            padding-top: 0;
        }
    }
}


section {
    padding-left: 10px;
    iframe{
        transform: translatex(45%);
    }
    .recordatorio1{
        p{
        font-size: map-get($map: $map1, $key: font);
        margin: 20px;}
    }
    .recordatorio2{
        @extend .recordatorio1
    }
}
input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 4px;
  }
#reset{
  background-color: #a0a5a0; 
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
#send{
  background-color: #5571f1; 
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
 
}


#pie {
    background-color: map-get($map: $map1, $key:color );
    font-size: map-get($map: $map1, $key:font );
    margin-top: map-get($map: $map1, $key:top );
    padding: map-get($map: $map1, $key:pad );
}