$map1:(
    color: #f2f2f26e, font: 15px, top: 5px, pad: 5px);
@import "./vars/mixins";

main {
    margin-top: 35px;
    background-color: #fff;

    #titulo {
        @include flex(none, center, none,none);
    }

    p {
        @include flex(none,justify,none, wrap);
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    a {
        color: #ffff;
        text-decoration: none;
        font-size: 15px;
    }

    img {
        width: 60%;
        height: 60%;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
            background-color: green;
            margin: 15px;
        }
    }

    .lista {
        font-size: 5vh;
        padding-left: 10px;
    }
}


section {
    padding-left: 10px;
    iframe{
        transform: translatex(45%);
    }
    .recordatorio1{
        p{
        font-size: map-get($map: $map1, $key: font);
        margin: 20px;}
    }
    .recordatorio2{
        @extend .recordatorio1
    }
}

#pie {
    background-color: map-get($map: $map1, $key:color );
    font-size: map-get($map1, font );
    margin-top: map-get($map: $map1, $key:top );
    padding: map-get($map: $map1, $key:pad );
}