.contenedor {
    display: grid;
    height: 98vh;
    grid-template-areas: "header header"
   "main  main"
   "section section "
   "footer  footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
  
  .header {
    grid-area: header; }
  
  .siderbar {
    grid-area: siderbar; }
  
  .main {
    grid-area: main; }
  
  .footer {
    grid-area: footer; }

    @keyframes aparecer {
      0% {
          opacity: 0;
      }
  
      100% {
          opacity: 1;
      }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
      img{
          width: 600px;
          height: 60%;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      h2{
          font-size: 6vh;
      }
      h3{
          font-size: 4vh;
      }
      p{
          display: flex;
          text-align: justify;
          flex-wrap: wrap;
          font-size: 1.5vw;
          margin: 5px  20px 30px  20px;   
       }
  }
  @media screen and (max-width: 768px){
    img{
          width: 570px;
          height: 370px;
          padding-top: 9px;
          padding-bottom: 10px;
      }
      p{
          display: flex;
          text-align: justify;
          flex-wrap: wrap;
          font-size: 2vw;
          margin-top: 5px;
          margin-bottom: 30px;
          margin-left: 20px;
          margin-right: 20px;
      }
  
  }
  @media screen and (max-width: 480px) {
      img{
          width: 570px;
          height: 370px;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      h2{
          font-size: 6vh;
      }
      h3{
          font-size: 7vh;
      }
      p{
          display: flex;
          text-align: justify;
          flex-wrap: wrap;
          font-size: 6vw;
          margin-top: 5px;
          margin-bottom: 30px;
          margin-left: 20px;
          margin-right: 20px;
      }
  }